.products-table {
    width: 80%;
    margin: 2em auto 10px auto;
}

.products-table-btn-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.products-table-actionBtn {
    margin: 0 auto 0 auto;
}
